extends ../../layout-admin

block content

	.row
		.col-xs
			table.table.table-bordered
				thead
					tr
						th
							| Name
						th
							| UserType
						th
							| Status
						th
							| Actions	
				tbody
					-if(users.length){
						each user in users
							tr
								td
									| #{user.firstname} #{user.avatar}
								td
									| #{user.firstname} #{user.lastname}	
								td
									| #{user.type}
								td
									| #{user.status}
								td
									a.mr10(href="/admin/users/#{user._id}")
										| View
									a.mr10(href="/admin/users/#{user._id}/edit")
										| Edit
									a.mr10(href="/admin/users/#{user._id}/delete")
										| Delete
					-} else {
						tr
							td(colspan="4")
								| No users found
					-}